:root {
  --background-dark-grey: #181818;
  --background-black: #101010;
  --orange: #ffc700;
  --blue: #0094e8;
  --light-grey:#969696;
  --text-white-color: #fff;
  --text-black-color: #000;
  --title-font: "Gilroy", sans-serif;
  --text-font: "Noto Sans", sans-serif;
  --button-font: "Montserrat", sans-serif;
}

body {
  background-color: var(--background-black);
}

.page-wrapper {
  overflow: hidden;
  padding: 122px 0 0 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-wrapper__content {
  flex-grow: 1;
}

.container {
  max-width: 1344px;
  padding: 0 32px;
  width: 100%;
  margin: 0 auto;
}
.container--full {
  max-width: 100%;
}
@media screen and (max-width: 1280px) {
  .container {
    padding: 0 16px;
  }
}
@media screen and (max-width: 420px) {
  .container {
    padding: 0 8px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
}
.button--small {
  padding: 12px 36px;
  border-radius: 25px;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 600px) {
  .button--small {
    width: 100%;
  }
}
.button--middle {
  font-family: var(--button-font);
  font-size: 18px;
  font-weight: 700;
  padding: 20px 36px;
  border-radius: 20px;
}
.button--base {
  padding: 32px 36px;
  border-radius: 20px;
  font-family: var(--button-font);
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .button--base {
    padding: 22px 36px;
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .button--base {
    border-radius: 48px;
  }
}
.button--orange {
  background-color: var(--orange);
  color: var(--background-dark-grey);
}
.button--black {
  color: var(--text-white-color);
  background: var(--background-dark-grey);
}
.button--green {
  background-color: #24C16C;
  color: var(--background-dark-grey);
}
.button--arrow {
  gap: 10px;
}
.button--arrow::after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
  background: url("../images/icons/arrow_forward.svg") center center/contain no-repeat;
}
.button--lock {
  gap: 8px;
}
.button--lock::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
  background: url("../images/icons/shield_lock.svg") center center/contain no-repeat;
}
.button--person {
  gap: 8px;
}
.button--person::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
  background: url("../images/icons/person.svg") center center/contain no-repeat;
}
.button--check {
  gap: 5px;
}
.button--check::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
  background: url("../images/icons/check_circle.svg") center center/contain no-repeat;
}

.text {
  font-family: var(--text-font);
}
.text--tiny {
  font-size: 12px;
  letter-spacing: -0.42px;
  font-weight: 400;
}
.text--small {
  font-size: 18px;
  line-height: 1.2;
}
.text--base {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.text--white {
  color: var(--text-white-color);
}
.text--grey {
  color: var(--light-grey);
}
.text--semibold {
  font-weight: 600;
}
.text--font--accent {
  font-family: var(--button-font);
}

.title {
  font-family: var(--title-font);
}
.title--tiny {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.title--smallest {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}
.title--small {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.28px;
}
@media screen and (max-width: 350px) {
  .title--small {
    font-size: 24px;
  }
}
.title--large {
  font-size: 24px;
  font-weight: 600;
}
.title--middle {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.4px;
}
.title--base {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .title--base {
    font-size: 56px;
  }
}
@media screen and (max-width: 420px) {
  .title--base {
    font-size: 42px;
  }
}
@media screen and (max-width: 350px) {
  .title--base {
    font-size: 36px;
  }
}
.title--big {
  font-size: 72px;
  font-weight: 700;
  line-height: 0.9;
}
.title--bold {
  font-weight: 700;
}
.title--white {
  color: var(--text-white-color);
}
.title--black {
  color: var(--text-black-color);
}
.title--orange {
  color: var(--orange);
}
.title--green {
  color: #AAFF36;
}
.title--grey {
  color: rgba(255, 255, 255, 0.7);
}
.title--gradient {
  background: linear-gradient(91deg, #A525DD 0.97%, #0089DE 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.burger:hover {
  cursor: pointer;
}
.burger__wrapper {
  width: 24px;
  height: 16px;
  position: relative;
}
.burger__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}
.burger__item:nth-child(1) {
  transition: 0.3s transform, 0.3s top;
}
.burger__item:nth-child(2) {
  top: calc(50% - 1px);
  transition: 0.3s left, 0.3s opacity, 0.5s visibility;
}
.burger__item:nth-child(3) {
  top: calc(100% - 2px);
  transition: 0.3s transform, 0.3s top;
}
.burger--active .burger__item {
  top: 8px;
}
.burger--active .burger__item:nth-child(1) {
  transform: rotate(45deg);
}
.burger--active .burger__item:nth-child(2) {
  left: -10px;
  opacity: 0;
  visibility: hidden;
}
.burger--active .burger__item:nth-child(3) {
  transform: rotate(-45deg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(16, 16, 16, 0.25);
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .header {
    background: var(--background-black);
  }
}
.header__wrapper {
  padding: 28px 0;
}
@media screen and (max-width: 1024px) {
  .header__wrapper {
    padding: 16px 0;
  }
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .header__row {
    gap: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}
.header__logo {
  width: 132px;
  height: 66px;
  flex-shrink: 0;
  padding: 12px 16px;
  border-radius: 20px;
  background: var(--background-dark-grey);
}
@media screen and (max-width: 1024px) {
  .header__logo {
    flex-grow: 1;
    height: 74px;
  }
}
@media screen and (max-width: 1280px) {
  .header__profile {
    display: none;
  }
}
.header__icon, .header__burger {
  width: 74px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: var(--background-dark-grey);
}
.header__icon svg, .header__burger svg {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 1025px) {
  .header__icon, .header__burger {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .header__support {
    display: none;
  }
  .header__support--active {
    display: flex;
  }
}

.mobile-menu {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: var(--background-black);
  padding: 0 16px 16px 16px;
  z-index: 10;
  display: none;
}
@media screen and (max-width: 1024px) {
  .mobile-menu--active {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  .mobile-menu {
    padding: 8px;
  }
}
.mobile-menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.mobile-menu__list + .mobile-menu__list {
  margin: 8px 0 0 0;
}
.mobile-menu__item {
  flex-grow: 1;
}
.mobile-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  padding: 21px 30px;
  font-family: var(--title-font);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  color: #fff;
  border-radius: 20px;
  background: var(--background-black);
}
.mobile-menu__link--grey {
  background: var(--background-dark-grey);
}
.mobile-menu__link svg {
  width: 32px;
  height: 32px;
}
.mobile-menu__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 600px) {
  .mobile-menu__wrapper {
    gap: 8px;
  }
}
.mobile-menu__block {
  padding: 16px;
  background: var(--background-dark-grey);
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .mobile-menu__block {
    padding: 8px;
  }
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  flex-shrink: 0;
  font-family: var(--title-font);
  color: #9B9B9B;
  font-size: 18px;
  font-weight: 600;
}
.nav__link:hover {
  color: #fff;
}

.profile-card__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card__img {
  width: 66px;
  height: 66px;
  flex-shrink: 0;
}
.profile-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}
@media screen and (max-width: 1280px) {
  .profile-card__img img {
    border-radius: 20px;
  }
}
.profile-card__info {
  margin: 0 0 0 16px;
}
.profile-card__footer {
  margin: 0 0 0 42px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.profile-card__footer--end {
  margin: 0 0 0 auto;
}
@media screen and (max-width: 420px) {
  .profile-card__footer--end {
    margin: 16px 0 0 0;
  }
}
.profile-card__name {
  font-family: var(--button-font);
  font-weight: 700;
  font-size: 18px;
  color: var(--text-white-color);
}
.profile-card__icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--background-dark-grey);
}
.profile-card__icon--black {
  background: var(--background-black);
}
.profile-card__icon svg {
  width: 20px;
  height: 20px;
}

.hero-slider {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(3, minmax(0, 250px));
  transition: 0.3s all;
}
.hero-slider[data-current="0"] {
  grid-template-columns: 1fr repeat(3, minmax(0, 250px));
}
.hero-slider[data-current="1"] {
  grid-template-columns: minmax(0, 250px) 1fr repeat(2, minmax(0, 250px));
}
.hero-slider[data-current="2"] {
  grid-template-columns: repeat(2, minmax(0, 250px)) 1fr minmax(0, 250px);
}
.hero-slider[data-current="3"] {
  grid-template-columns: repeat(3, minmax(0, 250px)) 1fr;
}
.hero-slide {
  padding: 64px;
  position: relative;
  border-radius: 80px;
  overflow: hidden;
  width: calc(100% + 100px);
  height: 720px;
  transition: 0.3s all;
}
.hero-slide--active {
  flex-shrink: 0;
}
.hero-slide--active .hero-slide__info {
  opacity: 1;
}
.hero-slide:last-child {
  width: 100%;
}
.hero-slide__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero-slide__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-slide__tag {
  margin: 0 0 100px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  width: -moz-max-content;
  width: max-content;
  border-radius: 30px;
  border: 2px solid #0094E8;
  padding: 8px 16px 8px 8px;
  height: 40px;
  position: relative;
}
.hero-slide__icon {
  flex-shrink: 0;
  width: 60px;
  height: calc(100% + 30px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-slide__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero-slide__info {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 450px;
  opacity: 0;
}

.section-header__buttons {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 600px) {
  .section-header__buttons {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.section__wrapper {
  padding: 60px 0;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .section__wrapper {
    padding: 32px 0;
  }
}
.section__title--small {
  max-width: 500px;
}
.section__header {
  padding: 48px;
  border-radius: 40px;
  background: var(--background-dark-grey);
}
.section__header:not(:last-child) {
  margin: 0 0 40px 0;
}
@media screen and (max-width: 1280px) {
  .section__header {
    padding: 36px 48px;
  }
}
@media screen and (max-width: 420px) {
  .section__header {
    padding: 24px;
  }
}
.section__header--margin--small:not(:last-child) {
  margin: 0 0 25px 0;
}
.section__header--row {
  border: none;
  padding: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
@media screen and (max-width: 600px) {
  .section__header--row {
    flex-direction: column;
    align-items: center;
  }
}
.section__header--link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.section__header--link::after {
  content: "";
  width: 48px;
  height: 48px;
  display: block;
  flex-shrink: 0;
  background: url("../images/icons/arrow_right.svg") center center/contain no-repeat;
}
.section__content:not(:last-child) {
  margin: 0 0 32px 0;
}

.review-slider {
  overflow: visible;
}
.review-slider .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.review-slider .swiper-slide {
  max-width: 440px;
  height: auto;
}
@media screen and (max-width: 500px) {
  .review-slider .swiper-slide {
    max-width: calc(100vw - 16px);
  }
}
.review-card__wrapper {
  padding: 32px;
  border-radius: 20px;
  background: var(--background-dark-grey);
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
}
@media screen and (max-width: 350px) {
  .review-card__wrapper {
    padding: 24px;
  }
}
.review-card__header, .review-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 350px) {
  .review-card__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
.review-card__content {
  flex-grow: 1;
}
.review-card__footer {
  padding: 8px;
}
.review-banner__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 420px) {
  .review-banner__header {
    gap: 16px;
  }
}
.review-banner__button {
  flex-shrink: 0;
}
@media screen and (max-width: 1024px) {
  .review-banner__button {
    width: 100%;
  }
}
.review-banner__wrapper {
  padding: 32px 48px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  background: var(--orange);
}
@media screen and (max-width: 1024px) {
  .review-banner__wrapper {
    flex-direction: column;
    gap: 28px;
    text-align: center;
    padding: 28px 16px;
  }
}
@media screen and (max-width: 420px) {
  .review-banner__wrapper {
    padding: 24px;
  }
}
@media screen and (max-width: 350px) {
  .review-banner__wrapper {
    padding: 24px 16px;
  }
}

.img--mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .img--mobile {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .img--desktop {
    display: none;
  }
}

.card--link {
  position: relative;
}
.card--link::before {
  content: "";
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  right: 36px;
  top: calc(50% - 24px);
  background: url("../images/icons/arrow_right.svg") center center/contain no-repeat;
  z-index: 3;
}
@media screen and (max-width: 600px) {
  .card--link::before {
    display: none;
  }
}
.card__wrapper {
  padding: 48px;
  border-radius: 40px;
  background: var(--background-dark-grey);
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
}
@media screen and (max-width: 420px) {
  .card__wrapper {
    padding: 36px 24px;
  }
}
.card__wrapper--blue {
  background: var(--blue);
}
.card__wrapper--padding--small {
  padding: 36px;
}
@media screen and (max-width: 600px) {
  .card__wrapper--banner {
    text-align: center;
    padding-bottom: 200px;
  }
}
.card__bg {
  width: 100%;
  height: 100%;
  max-height: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.card__bg--small {
  max-height: 420px;
}
.card__bg--right {
  left: unset;
  right: 0;
  width: 45%;
}
@media screen and (max-width: 600px) {
  .card__bg--right {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .card__bg--mobile--relative {
    position: relative;
    height: auto;
    width: calc(100% + 48px);
    transform: translateX(-24px) translateY(36px);
  }
}
.card__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .card__bg img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: bottom center;
       object-position: bottom center;
  }
}
.card__header:not(:last-child) {
  margin: 0 0 24px 0;
}
.card__header--margin--small:not(:last-child) {
  margin: 0 0 10px 0;
}
.card__header--half {
  max-width: 55%;
}
@media screen and (max-width: 1024px) {
  .card__header--half {
    max-width: 100%;
  }
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  z-index: 2;
}
.card__content--half {
  max-width: 48%;
}
@media screen and (max-width: 1024px) {
  .card__content--half {
    max-width: 100%;
  }
}

.section-bg {
  background: url("../images/about/bg.png") top center/cover no-repeat;
  position: relative;
}
.section-bg::before, .section-bg::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 454px;
  display: block;
  z-index: 1;
}
.section-bg::before {
  top: 0;
  background: linear-gradient(180deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
}
.section-bg::after {
  bottom: 0;
  background: linear-gradient(0deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
}

.about-grid {
  display: grid;
  grid-template-columns: 515px minmax(0, 1fr);
  gap: 32px;
}
@media screen and (max-width: 1024px) {
  .about-grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.about-grid__block--row--big {
  grid-row-end: span 2;
}
.about-grid__block--row--biggest {
  grid-row-end: span 3;
}
@media screen and (max-width: 1024px) {
  .about-grid__block--row--biggest {
    height: 400px;
  }
}
.about-grid__block--height--big {
  height: 560px;
}
@media screen and (max-width: 500px) {
  .about-grid__block--height--big {
    height: auto;
  }
  .about-grid__block--height--big .card__wrapper {
    padding-bottom: 200px;
  }
}
.about-grid__block--height--small {
  height: 292px;
}
.about-grid__block--height--smallest {
  height: 160px;
}
.about-grid__block--column--full {
  grid-column: 1/-1;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  grid-auto-rows: 280px;
  gap: 32px;
}
@media screen and (max-width: 1024px) {
  .blog-grid {
    gap: 16px;
  }
}
.blog-card__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  padding: 36px 48px;
  border-radius: 40px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .blog-card__wrapper {
    border-radius: 20px;
  }
}
@media screen and (max-width: 420px) {
  .blog-card__wrapper {
    padding: 36px 24px;
  }
}
.blog-card__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.blog-card__content {
  position: relative;
  z-index: 2;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.faq-item--active .faq-item__header::after {
  transform: rotate(-90deg);
}
.faq-item--active .faq-item__content {
  display: block;
}
.faq-item__header, .faq-item__content {
  padding: 36px 48px;
}
@media screen and (max-width: 420px) {
  .faq-item__header, .faq-item__content {
    padding: 36px 24px;
  }
}
.faq-item__content {
  display: none;
}
.faq-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background: var(--background-dark-grey);
  border-radius: 20px;
}
.faq-item__header:hover {
  cursor: pointer;
}
.faq-item__header::after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
  background: url("../images/icons/arrow_right.svg") center center/contain no-repeat;
  transform: rotate(90deg);
  transition: 0.3s transform;
}

.rating__wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.rating__icon {
  fill: var(--orange);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.payment__list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.payment__item {
  width: 38px;
  height: 24px;
}
.payment__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-block__header:not(:last-child) {
  margin: 0 0 24px 0;
}
.footer__info {
  flex-grow: 1;
}
.footer__box {
  display: flex;
  align-items: flex-start;
  gap: 140px;
}
@media screen and (max-width: 1024px) {
  .footer__box {
    gap: 48px;
  }
}
@media screen and (max-width: 420px) {
  .footer__box {
    gap: 32px;
  }
}
.footer__payment {
  margin: 22px 0 0 0;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .footer__payment {
    margin: 66px 0 0 0;
    align-items: center;
    justify-content: center;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 66px 0 0 0;
  padding: 0 0 0 200px;
}
@media screen and (max-width: 1280px) {
  .footer__text {
    padding: 0 0 0 76px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__text {
    padding: 0;
    text-align: center;
    margin: 10px 0 0;
  }
}
.footer__wrapper {
  padding: 64px 0;
  background: var(--background-dark-grey);
}
.footer__logo {
  width: 67px;
  height: 67px;
  padding: 15px;
  border-radius: 20px;
  background: var(--background-grey);
}
.footer__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 320px));
  row-gap: 64px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__list--center {
  justify-content: center;
  align-items: center;
}
.footer__list--gap--small {
  gap: 16px;
}
.footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 50%;
  background: var(--background-black);
}
.footer__icon svg {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=index.css.map */